Host bt.baishancloud.com
    HostName bt.baishancloud.com
    Port 7999
    User git
    IdentityFile /root/.ssh/id_rsa
    StrictHostKeyChecking no
    UserKnownHostsFile /root/.ssh/known_hosts
    PubkeyAcceptedKeyTypes +ssh-rsa
    HostKeyAlgorithms +ssh-rsa

